{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin/js/custom_admin.js' %}"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{% trans 'متجر رياض الإلكتروني - لوحة الإدارة' %}</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="admin-message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}